<div class="w-full">
  <div id="flash">
    <%= render "layouts/flash" %>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Users</h1>
    <%= link_to 'New user', new_user_path,
        class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium",
        data: { turbo_frame: "new_user" }
    %>
  </div>

  
  <div class="min-w-full">
    <%= turbo_frame_tag "new_user" %>
    <div id="users">
      <%= render @users %>
    </div>
  </div>
</div>
